<div class="container">
  <div class="home-top-wrapper">
    <h1 class="home-heading">Next To Do</h1>
    <p>This is landing Page.</p>
    <a href="/tasks">メインページへ</a>
    <a href="/users/new">新規登録</a>
  </div>
</div>