// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a { 
    text-decoration: none;
}

a:hover { 
    text-decoration: none;
}

.hidden {
    display: none;
}

.label {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 6px;
}

.label-red {
    background :red; 
}

.label-yellow {
    background :yellow; 
}

.label-green {
    background :green; 
}

.label-blue {
    background :blue; 
}

.hidden:checked + label {
    border: 3px solid black;
}

.tables {
    width: 2000px;
}

.table-wrapper {
    float: left;
    width: 18%;
    height: 800px;
    border: 1px solid #ccc;
    margin: 10px;
    background: #f9f9fe;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    border-radius: 10px;
}

.table-title {
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

.graph-title {
    border-bottom: 1px solid gray;
    padding: 10px;
}

.tasks-index-task {
	height: 70px;

	.task-layer-top {
		height: 14px;
		.task-label-color-box {
			height: 10px;
			width: 40px;
			float: left;
			border-radius: 2px;
			line-height: 100px;
			margin: 2px 0;
		}
		.task-due_date {
			display: inline-block;
			float: right;
			line-height: 14px;
			color: gray;
		}
	}
	

	.task-user-image {
		width: 60px;
		height: 60px;
		border-radius: 15px;
		object-fit: cover;
		padding: 1px;
		float: left;
		margin: 5px 10px 5px 2px;
	}

	
	.task-title {
		font-size: 18px;
		padding: 5px;
	}


	.task-group-name {
		color: gray;
		float: left;
		display: inline-block;
		line-height: 15px;
		font-size: 12px;
	}
		
	.task-move-botton {
		display: inline-block;
		float: right;
		line-height: 15px;
	}	
		
}

