// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.current_user-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px auto;
}

.task-user-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    padding: 2px;
}

.navbar_user-image {
    width: 22px;
    height: 22px;
    border-radius: 30%;
    object-fit: cover;
}